body{
	
	margin: 0px;
	padding: 0px;
}
.main-box{
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 15;
	margin-left: -400px;
}
.search-box{
color:grey;
}
#queryText{
	padding-left: 3px;
	border: 1px solid grey;
}
li{
	padding: 5px;
	font-size: 20px;
	color: grey;
}
.buttons{
	position: relative;
	left: 50%;
	top: 50%;
}
#serchButton{
	
}